In [1]:
import pandas as pd

In [15]:
data = pd.read_csv('AAPL.csv',index_col = 0,parse_dates = True)

In [16]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-06-14,127.820000,130.539993,127.070000,130.479996,129.738754,96906500
2021-06-15,129.940002,130.600006,129.389999,129.639999,128.903534,62746300
2021-06-16,130.369995,130.889999,128.460007,130.149994,129.410645,91815000
2021-06-17,129.800003,132.550003,129.649994,131.789993,131.041321,96721700
2021-06-18,130.710007,131.509995,130.240005,130.460007,129.718887,108953300

In [17]:
data.dtypes

Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 252 entries, 2021-06-14 to 2022-06-10
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       252 non-null    float64
 1   High       252 non-null    float64
 2   Low        252 non-null    float64
 3   Close      252 non-null    float64
 4   Adj Close  252 non-null    float64
 5   Volume     252 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 13.8 KB

In [19]:
data.index

DatetimeIndex(['2021-06-14', '2021-06-15', '2021-06-16', '2021-06-17',
               '2021-06-18', '2021-06-21', '2021-06-22', '2021-06-23',
               '2021-06-24', '2021-06-25',
               ...
               '2022-05-27', '2022-05-31', '2022-06-01', '2022-06-02',
               '2022-06-03', '2022-06-06', '2022-06-07', '2022-06-08',
               '2022-06-09', '2022-06-10'],
              dtype='datetime64[ns]', name='Date', length=252, freq=None)

In [23]:
data.loc['2022-05-27']

Open         1.453900e+02
High         1.496800e+02
Low          1.452600e+02
Close        1.496400e+02
Adj Close    1.496400e+02
Volume       9.097850e+07
Name: 2022-05-27 00:00:00, dtype: float64

In [24]:
type(data['Close'])

pandas.core.series.Series

In [25]:
daily_chg = data['Open']-data['Close']

In [26]:
daily_chg

Date
2021-06-14   -2.659996
2021-06-15    0.300003
2021-06-16    0.220001
2021-06-17   -1.989990
2021-06-18    0.250000
                ...
2022-06-06    0.890000
2022-06-07   -4.360001
2022-06-08    0.619995
2022-06-09    4.440003
2022-06-10    3.149994
Length: 252, dtype: float64